.UxMidia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 100px;


  .Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1996px;
    height: 100%;

    .BoxUxMidia {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%;

      .Content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #000;
      }
    }
  }
}

@media (max-width: 675px) {
  .UxMidia{
    .Container{
      .BoxUxMidia{
        .Content{
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}