.container {
  background-color: var(--background-primary-color);
  color: var(--font-primary-color);
  width: 100%;
  max-width: 1996px;

  .titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #000;

    .title {
      max-width: 321px;
      font-weight: bold;
      text-align: center;
      font-size: 36px;
      line-height: 44px;
    }

    .subtitle {
      width: 80%;
      text-align: center;
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }

  .carousel {
    width: 100%;
    overflow: hidden;

    .control {
      position: relative;

      .controlSlider {
        white-space: nowrap;

        .controlSlide {
          white-space: normal;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 37px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: medium;
            padding: 2%;
            width: 200px;
            color: #000000;
            border-radius: 8px;
            background-color: #00000000;
            border: 1px solid #000000;
          }
          button:hover {
            transition: 0.2s;
            color: #ffffff;
            background-color: #000;
          }
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 33px;
        z-index: 10;
        position: absolute;
        background-color: var(--background-secondary-color);
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        border: none;

        &.left {
          top: 0;
          left: 10%;
        }

        &.right {
          top: 0;
          right: 10%;
        }

        svg {
          color: var(--font-secondary-color);
        }
      }
    }

    .slider {
      margin-top: 30px;
      margin-bottom: 30px;
      white-space: nowrap;
      transition: ease 500ms;
      max-width: 733px;
      color: #ffffff;
      cursor: pointer;

      .slide {
        transition-property: filter, transform;
        transition-duration: 500ms;
        transition-timing-function: ease;
        display: inline-flex;
        flex-direction: column;
        height: 609px;
        white-space: normal;
        width: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-color: #bfbfbf;

        &:before {
          content: "";
          display: block;
          position: absolute;
          background-color: #000;
          opacity: 0.5;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }

        .content {
          display: flex;
          flex-direction: column;
          margin-top: 45px;
        }

        .image {
          width: 170px;
          height: 50px;
        }

        &.active {
          transform: scale(1.1);
        }

        &:not(.active) {
          transform: scale(0.9);
          filter: brightness(50%);
        }

        h3 {
          font-size: 24px;
          line-height: 35px;
          font-weight: bold;
        }

        .description {
          font-size: 14px;
          line-height: 21px;
          font-weight: 300;
          margin-top: 0.5rem;
        }

        .buttons {
          display: flex;
          flex-direction: column;
          margin-top: 35px;
          gap: 0.5rem;

          a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 40px;
            border: none;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
            background-color: #ffffff00;
            color: #ffffff;
            border: 1px solid #ffffff;
            &:hover {
              transition: all;
              color: #ffffff;
              background-color: #000;
              border: #000;
            }
          }
        }
      }
    }
  }

  .indicators {
    margin-top: 36px;
    margin-bottom: 80px;
    display: none;
    justify-content: center;

    ul {
      display: flex;
      gap: 0.5rem;

      li {
        display: block;

        button {
          height: 1rem;
          width: 1rem;
          border-radius: 0;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: none;

          &.active {
            background: #868686 0% 0% no-repeat padding-box;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    background-color: var(--background-secondary-color);
    color: var(--font-secondary-color);

    .titleBlock {
      .title {
        line-height: 56px;
      }
    }

    .carousel {
      .control {
        .controlSlider {
          white-space: normal;
          display: flex;
          justify-content: center;
          gap: 0.5rem;

          .controlSlide {
            display: flex;
            width: 167px;

            button {
              width: 100%;
              position: static;
              cursor: pointer;

              &.colorOrange {
                background-color: var(--font-primary-color);
                color: var(--color-primary-orange);

                &.active {
                  background-color: var(--color-primary-orange);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-orange);
                  color: var(--font-primary-color);
                }
              }

              &.colorBlue {
                background-color: var(--font-primary-color);
                color: var(--color-primary-blue);

                &.active {
                  background-color: var(--color-primary-blue);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-blue);
                  color: var(--font-primary-color);
                }
              }

              &.colorGreen {
                background-color: var(--font-primary-color);
                color: var(--color-primary-green);

                &.active {
                  background-color: var(--color-primary-green);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-green);
                  color: var(--font-primary-color);
                }
              }

              &.colorPurple {
                background-color: var(--font-primary-color);
                color: var(--color-primary-purple);

                &.active {
                  background-color: var(--color-primary-purple);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-purple);
                  color: var(--font-primary-color);
                }
              }

              &.colorYellow {
                background-color: var(--font-primary-color);
                color: var(--color-primary-yellow);

                &.active {
                  background-color: var(--color-primary-yellow);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-yellow);
                  color: var(--font-primary-color);
                }
              }

              &.colorRed {
                background-color: var(--font-primary-color);
                color: var(--color-primary-red);

                &.active {
                  background-color: var(--color-primary-red);
                  color: var(--font-primary-color);
                }

                &:hover {
                  background-color: var(--color-primary-red);
                  color: var(--font-primary-color);
                }
              }
            }
          }
        }

        button {
          display: none;
        }
      }

      .slider {
        .slide {
          color: var(--font-primary-color);
          width: 793px;
          height: 449px;
          padding: 86px;

          &.active {
            transform: scale(1);
          }

          &:not(.active) {
            z-index: -1;
            filter: brightness(50%);
          }

          .buttons {
            flex-direction: row;

            button {
              width: initial;
              padding: 0.5rem 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 80px;

    .carousel {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 700px) {
  .container {
    .carousel {
      .slider {
        margin-top: 50px;
        .slide {
          .buttons {
            a {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
