.Cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1996px;
    height: 100%;

    .BoxCta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 90%;
      background-color: var(--color-secundary-ux);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 16px;
      padding-top: 5%;
      padding-bottom: 5%;

      .ContainerContent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;

        .Controller {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;

          button {
            border: 1px solid #fff;
            padding: 1%;
            border-radius: 8px;
            width: 225px;
            height: 40px;
          }

          h1 {
            width: 55%;
          }
        }
      }
    }
  }
}
