.Cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1996px;
    height: 100%;
    

    .BoxCta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 90%;
      background-color: var(--color-secundary-ux);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 16px;
      padding-top: 5%;
      padding-bottom: 5%;
      box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 12px 0px;

      .ContainerContent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;

        .Controller {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 80%;

          button {
            border: 1px solid #fff;
            padding: 1%;
            border-radius: 8px;
            width: 225px;
            height: 40px;
          }

          h1 {
            width: 55%;
          }
        }
      }
    }
  }
}

@media (max-width: 675px) {
  .Cta {
    width: 100%;
    padding-bottom: 40px;

    .Container {
      width: 100%;

      .BoxCta {
        width: 100%;
        border-radius: 0;
        padding-top: 30%;
        padding-bottom: 30%;

        .ContainerContent {
          .Controller {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 90%;
            gap: 10px;

            h1 {
              font-size: 24px;
              width: 100%;
              line-height: 31px;
            }
          }
        }
      }
    }
  }
}
