@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --white: 255, 255, 255;
  --background-start-rgb: #000;
  --background-end-rgb: 255, 255, 255;
  --color-primary-ux: #000;
  --color-secundary-ux: #4a4a4a;
  --color-vendas-primary-ux: #450071;
  --color-vendas-secondary-ux: #a900d9;
  --color-gestao-primary-ux: #29265b;
  --color-gestao-secundary-ux: #009580;
  --color-ondetah-primary-ux: #009580;
  --color-trux-primary-ux: #009580;
  --color-logistics-primary-ux: #fbc709;
  --color-logistics-secundary-ux: #ff7f13;
  --color-esg-primary-ux: #7dad58;
  --color-esg-secundary-ux: #014c34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #000;
    --background-end-rgb: 255, 255, 255;
    --color-primary-ux: #000;
    --color-secundary-ux: #4a4a4a;
    --color-vendas-primary-ux: #450071;
    --color-vendas-secondary-ux: #a900d9;
    --color-gestao-primary-ux: #29265b;
    --color-gestao-secundary-ux: #009580;
    --color-ondetah-primary-ux: #009580;
    --color-trux-primary-ux: #009580;
    --color-logistics-primary-ux: #fbc709;
    --color-logistics-secundary-ux: #ff7f13;
    --color-esg-primary-ux: #7dad58;
    --color-esg-secundary-ux: #014c34;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif !important;
  zoom: 0.93;
  scroll-behavior: smooth;

}

::-webkit-scrollbar{
  height: 05px;
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: #bfbfbf80;
  border-radius: 16px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(#000);
  width: 100%;
  background-color: #FFF;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 36px;
  padding-bottom: 8px;
  font-weight: bold;
  line-height: 46.8px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3{
  font-weight: 600;
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
button {
  font-size: 14px;
  height: 47px !important;
  cursor: pointer;
  background-color: #FFF;
  color: #000;
}

button:hover{
  scale: .95;
  transition: 0.3s !important;
  /* font-weight: normal !important; */
}


a {
  color: inherit;
  text-decoration: none;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.animated-state-one {
  /* Animação específica para o primeiro título */
  transform: translateX(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-one 1s ease-in-out forwards; /* Adiciona animação */
}

.animated-state-two {
  /* Animação específica para o segundo título */
  transform: translateX(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-two 1s ease-in-out forwards; /* Adiciona animação */
}

.animated-state-three {
  /* Animação específica para o terceiro título */
  transform: translateX(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-three 1s ease-in-out forwards; /* Adiciona animação */
}

.animated-state-Banner {
  /* Animação específica para o terceiro título */
  transform: translateX(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-BannerOne 1s ease-in-out forwards; /* Adiciona animação */
}
.animated-state-BannerHeader {
  /* Animação específica para o terceiro título */
  transform: translateX(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-BannerOneHeader 1s ease-in-out forwards; /* Adiciona animação */
}
.animated-state-BannerTwo {
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-BannerTwo 1s ease-in-out forwards; /* Adiciona animação */
}

.animated-state-header{
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 10; /* Mostra o conteúdo */
  animation: animate-Header 0.5s ease-in-out forwards; /* Adiciona animação */
}

.animated-state-Jumbotron {
  
  transform: translateY(40); 
  opacity: 1; 
  animation: animate-Jumbotron 1s ; 
}
.animated-state-Jumbotron-two {
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
}
.animated-state-Jumbotron-three {
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-Jumbotron 1s ease-in-out forwards; /* Adiciona animação */
}
.animated-state-Jumbotron-four {
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-Jumbotron 1s ease-in-out forwards; /* Adiciona animação */
}

@keyframes animate-Jumbotron {
  from {
    transform: translateY(-100%);
    opacity: 10;
  }
  to {
    transform: translateX(0);
    opacity: 010;
  }
}
.animated-state-Jumbotron-two {
  /* Animação específica para o terceiro título */
  transform: translateY(0); /* Posiciona o conteúdo na tela */
  opacity: 1; /* Mostra o conteúdo */
  animation: animate-Jumbotron-two 1s ease-in-out forwards; /* Adiciona animação */
}

@keyframes animate-Jumbotron-two {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animate-Header {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes animate-one {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate-two {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
}

.fade-in.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Adicione uma transição suave se desejar */
}

@keyframes animate-three {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate-BannerOne {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


@keyframes animate-BannerTwo {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes animate-BannerOneHeader {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}