.container {
  .featured a,
  .card a {
    text-decoration: none;
  }

  .titleBlock {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 0 36px;
    padding-top: 30px;

    .title {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
    }

    .subtitle {
      margin-top: 0.5rem;
      letter-spacing: 0px;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .box {
    margin-top: 1rem;
  }

  .featured {
    display: flex;
    flex-direction: column;
    padding: 36px;
    height: 400px;
    position: relative;

    .content {
      .title,
      .text * {
        color: var(--font-primary-color);
        position: relative;
        z-index: 1;
      }

      .text * {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 64px;
        -webkit-line-clamp: 3;
      }
    }

    .tag {
      margin-bottom: 43px;
      position: relative;
      z-index: 1;
      align-self: end;
      text-align: center;
      padding: 8px 16px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #000;
      border-radius: 24px;
      color: #000;
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;

      &:hover {
        background-color: #000;
        color: #ffffff;
      }
    }
  }

  .cards {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    white-space: nowrap;
    gap: 20px;

    .card {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      white-space: normal;
      max-width: 234px;

      .category {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .release {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
      }

      .content {
        .title {
          font-size: 16px;
          line-height: 25px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 54px;
          -webkit-line-clamp: 2;
          margin-top: 0.5rem;
        }

        .text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 64px;
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  .category {
    align-self: end;
    padding: 0.5rem 1rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #000000;
    border-radius: 24px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;

    &:hover {
      background-color: #000;
      color: #ffffff;
    }
  }

  .content {
    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }

    .text {
      margin-top: 0.5rem;
      font-size: 14px;
      line-height: 21px;
    }

    a {
      color: #000;
      margin-top: 0.5rem;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      font-weight: 500;
    }
  }

  footer {
    margin-top: 36px;
    display: flex;
    justify-content: center;

    .gotoBlog {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      padding: 8px;
      font-size: 16px;
      line-height: 25px;
      width: 25%;
      height: 50px;
    }
    
  }
}

@media screen and (min-width: 1024px) {
  .container {
    .titleBlock {
      width: 100%;
      margin: 0 0 36px 0;
      .title {
        line-height: 56px;
      }
    }

    .margin {
      margin: 0 auto;
      width: 90%;
      max-width: 1440px;
    }

    .box {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
      height: 400px;
    }

    .featured {
      margin-top: 0;
      max-width: 524px;
    }

    .cards {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 1624px) {
  .container {
    .featured {
      max-width: 440px;
      height: 400px;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1724px) {
  .container {
    .cards {
      overflow: visible;
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .container {

    .titleBlock {
      width: 90%;
      margin: 0 0 0 0;
      padding-left: 04% ;
      .title {
        line-height: 56px;
      }
    }

    footer {
      .gotoBlog {
        width: 80%;
        padding: 3%;
      }
    }
  }
}
