.UxPartners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  .Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1996px;
    height: 100%;

    .BoxUxPartners {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;


      .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;

        h1 {
          text-align: center;
          line-height: 48px;
        }

        button {
          border-radius: 8px;
       
          height: 40px;
        }
      }
    }
  }
}
@media (max-width: 675px) {
  .UxPartners {
    .Container {
      width: 100%;
      .BoxUxPartners {
        width: 92%;

        .Content {
          width: 100%;
          h1 {
            font-size: 24px;
            width: 100%;
            line-height: 28px;
          }
          p {
            width: 90%;
            text-align: center;
          }
        }
      }
    }
  }
}
