.LogisticaSustentavel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1996px;
    height: 100%;

    .BoxLogisticaSustentavel {
      display: flex;
      height: 100%;
      max-width: 1996px;
      width: 90%;
      border-radius: 16px;
      color: #000;

      .Controller {
        display: flex;
        flex-direction: column;
        width: 100%;

        .ContentText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          height: 100%;

          h1 {
            text-align: left;
            padding-bottom: 0px;
            height: normal;
          }

          p {
            width: 75%;
          }

          .Carrousel {
            display: flex;
            flex-direction: row;
            overflow: scroll;
            width: 80%;
            padding-bottom: 20px;

            div {
              display: flex;
              overflow: scroll;
              gap: 20px;
              width: 100%;
            }
          }

          button {
            background-color: #000;
            width: 170px;
            height: 40px;
            border-radius: 8px;
            color: #fff;
          }

          .containerTeste {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: auto;
            gap: 20px;

            .controllerTest {
              display: flex;
              gap: 20px;
              flex-direction: row;
              overflow: auto;
            }
          }
        }
      }

      .ContentImage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .BoxImage {
          display: flex;
          align-items: center;
          object-fit: cover;
          width: 100%;
          border-radius: 16px;
        }
      }
    }
  }
}

@media (max-width: 675px) {
  .LogisticaSustentavel {
    .Container {
      .BoxLogisticaSustentavel {
        display: flex;
        flex-direction: column;

        .ContentImage {
          display: none;
        }

        .Controller {
          .ContentText {
            p {
              width: 100%;
            }

            div {
              width: 85%;
            }
          }
        }
      }
    }
  }
}
